@import "tailwindcss";




.pre_text {
  font-family: "Monoton";
  font-weight: 550;
  font-style: normal;
}


.pre_text1 {
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}